*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
vendor
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# JetBrains
.idea

# mac
.DS_Store
__MACOSX

# emacs turds
(.*/)?\#[^/]*\#$

