<%

date = Time.now.strftime('%Y-%m-%d-%H%M-%S')
default_report = "./reports/calabash-#{date}.html"

ss_path = "#{Dir.pwd}/screenshots/"

`mkdir ./screenshots` unless File.exists?("./screenshots")
`mkdir ./reports` unless File.exists?("./reports")

%>

ss_path: SCREENSHOT_PATH=<%= ss_path %>
html_report:  -f html -o <%= default_report %>

uai: DEVICE_TARGET=simulator

default: -p ss_path -p html_report -p uai



